<nav class="navbar navbar-expand-md jh-navbar botao-tam" id="menu">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <!-- <span id="logo2" class="logo-img"></span> -->
            <img src="../../../content/images/logo2.png"  height="30" class="d-inline-block align-top" alt="">
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">home</a>
            </li> 
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="../../../map/index.html" (click)="collapseNavbar()">mapa</a>
            </li>
            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" (click)="collapseNavbar()">|</a>
            </li>--> 
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

             <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" >


            <!--<li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">-->
                    <span>
                        <!--<fa-icon [icon]="'th-list'"></fa-icon>-->
                        <span>
                            entidades
                        </span> <i class="fa fa-angle-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu><span class="dropdown-menu-arrow"></span>
                    <li>
                        <a class="dropdown-item" routerLink="name" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Grupos de Indicadores</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="indicator" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Indicadores</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="year" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Ano</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="meta-dado" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Meta Dado</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="filter" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Filtro</span>
                        </a>
                    </li>
					<li>
                        <a class="dropdown-item" routerLink="group-layer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Grupos de Camadas</span>
                        </a>
                    </li>
					<li>
                        <a class="dropdown-item" routerLink="layer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Camadas</span>
                        </a>
                    </li>
					<li>
                        <a class="dropdown-item" routerLink="marker-icon" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Ícones</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Categorias</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="region" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span>Regiões</span>
                        </a>
                    </li>
                   
                    <li>
                        <a class="dropdown-item" routerLink="type-presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.entities.typePresentation">Type Presentation</span>
                        </a>
                    </li>
                    
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" >
                    <span>
                         <!--<fa-icon [icon]="'user-plus'"></fa-icon>-->
                        <span >administração</span> <i class="fa fa-angle-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu><span class="dropdown-menu-arrow"></span>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" (click)="collapseNavbar()">|</a>
            </li>
            <!--<li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">  
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon [icon]="'flag'"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>-->
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span *ngIf="!getImageUrl()">                   
                   </span>                  
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu><span class="dropdown-menu-arrow"></span>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="sessions" routerLinkActive="active" (click)="collapseNavbar()">
                            <!--<fa-icon [icon]="'cloud'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.account.sessions">Sessions</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">                            
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                            <!-- <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon> -->
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                             <!--<fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>-->
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
