/* ==========================================================================
Navbar
========================================================================== */
.navbar {
    background-color: rgb(20, 102, 120);
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-left: -15px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
}
.jh-navbar {
    z-index: 1;
    padding: 0.2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #414735;
    }
    .dropdown-toggle::after {
        display: none;
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.1rem;
        }
    }
    a.nav-link {
        font-weight: 400;
        color: white;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}
#menu {
    height: 56px;
    padding: 8px 16px;
}
.nav-link:focus {
    font-family: 'Roboto Condensed' !important;
    font-style: normal;
    font-weight: bold !important;
   
}
.dropdown-menu.show {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 48px !important;
    left: -120px !important;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 5px 5px;
        
}
.dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
  }
  .dropdown-menu-arrow:before,
  .dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
  }
  .dropdown-menu-arrow:after {
    bottom: -18px;
    right: -65px;
    border-bottom-color: #fff;
  }
  .dropdown-menu-arrow:before {
    bottom: -17px;
    right: -65px;
    border-bottom-color: rgba(0,0,0,.15);
  }

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}
.servico {
    font-weight: bold;
    font-size: 10px
}

/* ==========================================================================
Logo styles
========================================================================== */

.navbar-brand {
    &.logo {
        padding: 10px 15px;
        .logo-img {
            height: 30px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url('../../../content/images/logo2.png') no-repeat center center;
            background-size: 70px;
        }
    }
}
